*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/MineBusterGame/dist
/MineBusterGame/build
/MineBusterGame/nbproject
/MineBusterGame/nbproject/private
/MineBusterGame/res/data/saves
/MineBusterGame/res/data
/MineBusterGame/boolean.png
/MineBusterGame/field.png